.permissionsContainer {
    padding: 3rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f5fffa;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.permissionsControl {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.permissionsControl_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_permissionsContainer__R4Fcs {
    padding: 4px !important;
    width: 100% !important;
}