.controlsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.fieldsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}